<h1><%= @article.title %></h1>


<p><%= @article.location %></p>
<%= image_tag @article.image.url(:medium) %>

<p>
  <%= @article.body %>
</p>

<p>
<%= link_to "Previous Page", articles_path, class: "btn btn-default" %>
</p>

<div class="comments col-sm-8">
<table class="table">
	<tr>
		<caption>
			<% flash.each do |key, value| %>
    		<div class="alert alert-<%= key %> margin animated fadeOut"><%= value %></div>
 			<% end %>
		</caption>
		<th>Comments</th>
	</tr>
	<%= render @article.comments %>	
</table>
</div>
<div class="col-sm-6">
	<p>
		<%= render 'comment_form' %>
	</p>	
</div>

<% if policy(@article).edit? %>
	<%= link_to "Edit ", edit_article_path(@article), class: "btn btn-info" %>
<% end %>

<% if policy(@article).destroy? %>
	<%= link_to "Delete ", @article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<% end %>