<h1><%= @article.title %></h1>


<p><%= @article.location %></p>
<%= image_tag @article.image.url %>

<p>
  <%= @article.body %>
</p>

<%= link_to "Back", articles_path %>

<% if policy(@article).update? %>  <!-- shows only if current user authorized -->
  <%= link_to "Edit article", edit_article_path(@article) %>
  <%= link_to "Delete article", edit_article_path(@article) %>
<% end %>
