<div class="jumbotron">
<!-- TITLE: Image in custom.css -->
  <h1>Travelogue</h1>
  <p>Your destination for peer reviews</p>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  How it works
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">How it works</h4>
      </div>
      <!-- Add padding to this text -->
      <p>Travelogue is a social networking and blogging web application where users can share their travel experiences, advice, and photos. Users/travelers can search by destination and read what other users are posting about that location using the Google Places API.</p>  
      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- SEARCH BOX -->
<%= form_tag home_index_path, :method => 'get', class: 'form-group' do %>
  <p>
    <%= label_tag :search %>
    <%= text_field_tag :search, params[:search], :placeholder => "e.g. Tokyo museums, Seattle cafes, Dublin pubs, etc.", class: 'form-control' %>
    <%= submit_tag "Search", class: "btn btn-warning btn-lg" %>
  </p>
<% end %>
</div>

<!-- LEFT SIDE -->
<div class="col-sm-9">
  <div class="list-group results">
  	<% if @results %>
    <h3><a class="list-group-item active">Search Results</a></h3>
    <!-- LIST ALL SEARCH RESULTS -->
      <% @results['results'].each do |r| %>
        <div class="list-group-item">
          <h4 class="list-group-item-heading"><%= link_to r['name'], r['place_id'].to_s %></h4>
          <p class="list-group-item-text">
            <%= r['formatted_address'] %>
            <%= link_to "Add Article", new_article_path, class: "btn btn-info" %>
          </p>
        </div>
      <% end %><!-- END SEARCH RESULTS --> 
    <% end %> <!-- END LEFT -->
  </div>
</div>

<!-- RIGHT SIDEBAR -->

<div class="col-sm-3">
  <!-- LIST OF CURRENT LOCATIONS WITH ARTICLES -->
  <div class="list-group">
    <a href="" class="list-group-item active">Quick Nav</a>
      <% @locations.each do |location| %>
      <%= link_to location, articles_path(location: location), class: "list-group-item" %>
      <% end %>
  </div>
</div>
